body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 20px;
}

.img {
    max-width: 300px;
    max-height: 300px;
}

.btn {
    background-color: #5e73ff;
    color: white;
    width: 100px;
    height: 30px;
    align-self: center;
}

.btn-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.breedsList {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

select {
    width: 200px;
    height: 30px;
    align-self: center;
}

.imagesContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.breedList {
    list-style: none;
}

.selectBreedImage {
    max-width: 400px;
    max-height: 300px;
}